yolo/
yolo.tar.gz
datasets.tar.gz
datasets/ambulance-dataset/*
datasets/truck-dataset/*
*.jpg
*.png
*.csv
yolov8?.pt
last.pt
.vscode
.ipynb_checkpoints
prediction_input/
prediction_output/
__pycache__/
.venv/
venv/