yolo/
yolo.tar.gz
datasets.tar.gz
datasets/ambulance-dataset/*
datasets/truck-dataset/*
*.csv
yolov8?.pt
last.pt
.vscode
.ipynb_checkpoints
output-sample/
__pycache__/
.venv/
venv/
runs/detect/*/*.png
runs/detect/*/*.jpg