yolo/
yolo.tar.gz
datasets.tar.gz
datasets/ambulance-dataset/*
datasets/truck-dataset/*
*.jpg
*.png
*.mp4
*.csv
yolov8?.pt
last.pt
.vscode
.ipynb_checkpoints
input-sample/
output-sample/
__pycache__/
.venv/
venv/